section {
  background-color: hsl(233, 12%, 13%);
}

.container {
  margin: auto;
  width: 80%;
  @media screen and (max-width: 768px) {
    text-align: center;
    width: 100%;
  }
}

.images {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.mat-button {
  color: hsl(0, 0%, 100%);
  font-family: "Be Vietnam";
  font-weight: 400;
  &:hover {
    color: hsl(12, 88%, 59%);
    opacity: 50%;
  }
}

.request {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  input {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 15px;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  .mat-button {
    background-color: hsl(12, 88%, 59%);
    border-radius: 30px;
    bottom: 15px;
    left: 30px;
    font-family: "Be Vietnam";
    font-weight: 700;
    height: 45px;
    position: relative;
    &:hover {
      background-color: hsl(12, 88%, 59%);
      color: hsl(0, 0%, 100%);
      opacity: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

p {
  color: hsl(227, 12%, 61%);
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

svg {
  margin: 30px 5px;
  &:hover {
    cursor: pointer;
    path {
      fill: hsl(12, 88%, 59%);
    }
  }
}
