section {
  background-color: hsl(12, 88%, 59%);
  background-image: url("../../assets/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    background-image: url("../../assets/bg-simplify-section-mobile.svg");
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 50px 0;
  width: 80%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0 0 50px 0;
    width: 100%;
  }
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 32px;
  font-weight: 700;
  width: 60%;
  @media screen and (max-width: 768px) {
    text-align: center;
    width: 100%;
  }
}
